.scene {
  width: 300px;
  height: 300px;
  /* border: 1px solid black; */
  margin: 100px auto;

  perspective: 800px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;

  transform-style: preserve-3d;
  transition: transform 2s;
  /* transform: translateZ(-150px); */
}

.cube_face {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  text-align: center;
  font-size: 2rem;
  line-height: 300px;
  position: absolute;
  backface-visibility: visible;
}

.cube_face-front {
  /* background-color: lightgreen; */
  background-color: rgba(144, 238, 144, 0.5);
  transform: rotateY(0deg) translateZ(150px);
}
.cube_face-back {
  /* background-color: lightpink; */
  background-color: rgba(255, 182, 193, 0.5);
  transform: rotateY(180deg) translateZ(150px);
}
.cube_face-left {
  /* background-color: lightseagreen; */
  background-color: rgba(32, 178, 171, 0.5);
  transform: rotateY(-90deg) translateZ(150px);
}
.cube_face-right {
  /* background-color: lightskyblue; */
  background-color: rgba(135, 206, 250, 0.5);
  transform: rotateY(90deg) translateZ(150px);
}
.cube_face-top {
  /* background-color: mediumpurple; */
  background-color: rgba(147, 112, 216, 0.5);
  transform: rotateX(90deg) translateZ(150px);
}
.cube_face-bottom {
  /* background-color: mediumvioletred; */
  background-color: rgba(199, 21, 134, 0.5);
  transform: rotateX(-90deg) translateZ(150px);
}

/* .cube:hover {
  transform: rotateX(-90deg);
} */

.radioGroup {
  text-align: center;
}
/* Changing cubebox position */
.show-front {
  transform: rotateY(0deg);
}
.show-back {
  transform: rotateY(180deg);
}
.show-left {
  transform: rotateY(90deg);
}
.show-right {
  transform: rotateY(-90deg);
}
.show-top {
  transform: rotateX(-90deg);
}
.show-bottom {
  transform: rotateX(90deg);
}
